*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.jar
*.apk
*.aab
*.keystore
build_native.sh.kotlin
build_native.sh
app/build_native.sh
